*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	font-weight: normal;
}

ul {
	list-style: none;
}

body {
	min-height: 100vh;
	color: #333;
	background: #fff;
	line-height: 1.6;
	font-family: "游ゴシック", YuGothic, Helvetica, Arial, "ヒラギノ角ゴ ProN",
		"Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, verdana, Osaka, "ＭＳ Ｐゴシック", "MS PGothic",
		sans-serif;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
